body {
    font-family: Cascadia Mono, monospace;
    background-color: #1e1e1e;
    color: #d4d4d4;
}

.header1 {
    background-color: #007acc;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    text-align: left;
}