body {
    display: flex;
    flex-direction: column;
    font-family: Cascadia Mono, monospace;
    background-color: #1e1e1e;
    color: #d4d4d4;
}

.header1 {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    background-color: #007acc;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    text-align: left;
}

.button {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #007acc;
    color: #d4d4d4;
}

.container1, .container2 {
    display: flex;
    flex-direction: column;
    background-color: #007acc50;
    margin-top: 10px;
    padding-left: 18px;
    height: 1600px;
}

.image1 {
    width: 100%;
    max-width: 500px; 
    height: 100%; 
    max-height: 300px; 
    margin-top: 10px; 
    margin: 0; 
    margin-top: 5px; 
    margin-left: 25px;
}